body {
  background-color: white;
  color: black;
}

.dark-mode {
  background-color: black;
  color: white;
}

.navbar {
  background-color: white;
  position: fixed;
  width: 100%;
  top: 0px;
  left: 0px;
  z-index: 999;
  overflow: hidden;
}

.navbar span {
    float: left;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 25px;
}

.main-content {
    margin-top: 50px;
}

.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}
