/*
 * @see http://www.paulirish.com/2012/box-sizing-border-box-ftw/
 * apply a natural box layout model to all elements, but allowing components to change
 */
 html {
    box-sizing: border-box;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }
  
  body {
    font: 1.2em/1.2 Helvetica, aria, sans-serif;
    margin: 0 3%;
  }
  
  article {
  
  }
  
  h1 {
    font-size: xx-large;
  }
  
  h2 {
    font-size: x-large;
  }
  
  img {
    max-width: 100%;
  }
  
  main {
  
  }
  
  section {
    display: flex;
    flex-flow: column nowrap;
    gap: 40px;
  }
  
  figure {
      margin: 0;
  }
  
  figcaption {
    font-size: .8em;
  }

  @media screen and (min-width: 800px) {
      body {
        background-color: cadetblue;
        font: 1.1em/1 Helvetica, aria, sans-serif;
        margin: 40;
      }

      h1 {
        font-size: xx-large;
      }

      section {
        display: flex;
        flex-flow: row wrap;
        gap: 40px;
      }

      figure {
        margin: 0;
        width: 350px;
    }
  }

  @media screen and (min-width: 1300px) {
    body {
      background-color: aqua;
      font: 1.1em/1 Helvetica, aria, sans-serif;
      margin: 20;
      max-width: 1500px;
    }

    h1 {
      font-size: xx-large;
    }

    section {
      display: flex;
      flex-flow: row wrap;
      gap: 10px;
    }

    figure {
      margin: 0;
      width: 290px;
  }
}
